.person-item {
  .person-item-checkbox {
    width: 100%;
    max-width: 5%;
  }
  .person-item-name {
    width: 100%;
    max-width: 50%;
  }
  .person-item-count {
    width: 100%;
    max-width: 45%;
  }
}
