body {
  display: flex;
  border: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  @extend .flex-centered;
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.calendar-scale {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.people-list-container {
  display: flex;
  height: 100%;
  width: 20%;
  background-color: #fafafa;
}

.person-container {
  display: flex;
  height: 100%;
  width: 20%;
}

.day-item {
  position: relative;
  .day-counter {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
}

.css-dhopo2 {
  min-height: 214px !important;
  overflow-y: hidden !important;
}
.css-1wvgxus-MuiCalendarPicker-viewTransitionContainer {
  overflow-y: hidden !important;
}